<%= javascript_include_tag 'joint' %>
<%= javascript_include_tag 'joint_main' %>
<%= javascript_include_tag 'joint.shapes.devs' %>

<section id="library" class="basicbg wireframe ui-resizable" style="display: block; left: 0px; width: 423px;">
  <div id="libTop" class="libTop">
    <nav id="widgetGroups">
      <input id="searchBox" type="search" placeholder="Search Stencil !!" results="5" style="">
    </nav>
  </div>
  <div id="widgets" class="basicBG">
    <div class="viewport">
      <section class="setHeader">
        <header>
          <h2>Buttons</h2>
        </header>
        <ol id="widgetGroupButtons">
          <li id="button_stencil1" class="libraryWidget ui-draggable" title="Drag-and-drop to add" draggable="true" ondragstart="onDragStart(event)" style="display: inline-block;">
            <div class="widgetTitle">Button</div>
          </li>
          <li id="button_stencil2" class="libraryWidget ui-draggable" title="Drag-and-drop to add" draggable="true" ondragstart="onDragStart(event)">
            <div class="widgetTitle">Button</div>
          </li>
        </ol>
      </section>
      <section class="setHeader">
        <header>
          <h2>Bars</h2>
        </header>
        <ol id="widgetGroupBars">
          <li id="bar_stencil1" class="libraryWidget ui-draggable" title="Drag-and-drop to add" draggable="true" ondragstart="onDragStart(event)" style="display: inline-block;">
            <div class="widgetTitle">Navigation</div>
          </li>
        </ol>
      </section>
      <section class="setHeader">
        <header>
          <h2>Controls</h2>
        </header>
        <ol id="widgetGroupControls">
          <li id="control_stencil1" class="libraryWidget ui-draggable" title="Drag-and-drop to add" draggable="true" ondragstart="onDragStart(event)" style="display: inline-block;">
            <div class="widgetTitle">Progress</div>
          </li>
        </ol>
      </section>
    </div>
  </div>
</section>

<div id="myholder" ondragenter="onDragEnter(event)" ondragleave="onDragLeave(event)" ondragover="onDragOver(event)" ondrop="onDrop(event)" style="width: 100%; height: 100%;">
</div>

 <div id="menu_container">  
  <a class="btn" href="#" onClick="showTestScenarios()">Test</a>
</div>  










