<h1>Be Free!</h1>
<p>Hellow! Rapid Testing!</p>

<div class="stencil-container">
  <div class="stencil">
    <div class="group" data-name="basic">
      <h3 class=group-label>Basic shapes</h3>
      <div class="elements">
        <svg id="v-5" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" version="1.1" width="230" height="173">
        <defs id="v-7"></defs>
        <g id="v-6" class="viewport">
            <g id="j_1" class="element basic Rect" model-id="3165134f-bd72-474f-8d8e-b46807327b23" fill="#FFFFFF" stroke="none" filter="undefined" transform="translate(20,23)">
                <g id="v-26" class="rotatable" transform="rotate(0,45,27)">
                    <g id="v-29" class="scalable" transform="scale(1.8,1.8)">
                        <rect id="v-27" fill="#27AE60" stroke="black" width="50" height="30" rx="2" ry="2"></rect>
                    </g>
                    <text id="v-28" y="0.8em" display="null" font-size="10" fill="white" font-family="Arial, helvetica, sans-serif" stroke="black" stroke-width="0" transform="translate(36.5,21) ">
                        rect
                    </text>
                </g>
            </g>
            <g id="j_2" class="element basic Circle" model-id="09287528-c8ad-46e0-82c2-02e02bc23f5a" fill="#FFFFFF" stroke="none" filter="undefined" transform="translate(130,23)">
                <g id="v-30" class="rotatable" transform="rotate(0,45,27)">
                    <g id="v-33" class="scalable" transform="scale(1.5,0.9)">
                        <circle id="v-31" fill="#E74C3C" stroke="black" r="30" transform="translate(30, 30)" width="50" height="30"></circle>
                    </g>
                    <text id="v-32" y="0.8em" display="null" font-size="10" text-anchor="middle" fill="white" font-family="Arial, helvetica, sans-serif" stroke="black" stroke-width="0" transform="translate(45,21) ">
                        ellipse
                    </text>
                </g>
            </g>
          </g>
        </svg>
    </div>
  </div>
</div>

<div id="myholder"></div>
  <%= javascript_include_tag 'joint' %>
  <%= javascript_include_tag 'joint_main' %>
